{% extends "base/base.html" %}
{% load static %}
{% load netbox_themes_template_filters %}

{% block head %}
   {{ block.super }}
   <style>
     {{ '' | return_custom_css  }}
   </style>
{% endblock %}
{% block javascript %}
   {{ block.super }}
   <script>
     const bodyElement = document.body;
     const themeName = "{{ '' | theme_name }}";
     const originalSetAttribute = Element.prototype.setAttribute;
     console.log(`Active theme: ${themeName}`);

     if (themeName != "default") {
       Element.prototype.setAttribute = function (name, value) {
          if (this.tagName === "BODY" && name === "data-bs-theme") {
              console.log(`Intercepted attempt to set data-bs-theme to: ${value}`);
              value = "{{ '' | return_base_theme }}"; // Force base theme
          }
          return originalSetAttribute.call(this, name, value);
      };
   };
   </script>
{% endblock %}
